* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  height: calc(100vh - var(--header-height));
  overflow-y: auto;
}

.MuiContainer-root {
  height: 100%;
  padding-top: var(--spacer-size);
  padding-bottom: calc(var(--spacer-size) / 2);
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --brand: #8b0036;
  --color-gray-0: #ffffff;
  --color-gray-10: #eeeff1;
  --color-gray-20: #d4d7dc;
  --color-gray-30: #b8bcc5;
  --color-gray-40: #9ba2af;
  --color-gray-50: #858d9d;
  --color-gray-60: #707a8c;
  --color-gray-70: #626b7b;
  --color-gray-80: #515865;
  --color-gray-90: #404550;
  --color-gray-100: #2d3138;

  --header-height: 60px;
  --spacer-size: 20px;
}